.wrap {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin: 50px auto;
    border: 2px solid #666;
    gap: 20px;
}
.wrap item{
    width: 20%;
    text-align: center;
    background-color: #666;
}
